.contact-h1 {
    font-weight: bold;
    font-size: 34px;
    padding: 50px;
}
.contact-linkedin {
    background-image: url("..//img/linkedin3.png");
}

.contact-github {
    background-image: url("..//img/github16-1.png");
}
.contact-me {
    margin-bottom: 30px;
    overflow: hidden;
    float: left;
    width: 100%;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
}

.contact-twitter {
    background-image: url("..//img/bird1-4.png");
}

.contact-facebook {
    background-image: url("..//img/facebook56.png");
}
.contact-google-plus {
    background-image: url("..//img/google116.png");
}
.contact-instagram {
    background-image: url("..//img/instagram12.png");
}
