.binh{
		padding-top: 30px;
    padding-bottom: 20px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding:0 128px;
}
.banner {
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    position: relative;
    overflow: auto;
   
}
* {
    margin: 0px;
    padding: 0px;
    
}
    .banner li { list-style: none; }
        .banner ul li { 
float: left;

 }
.banner .dots {
    position: absolute;
    left: 630px;
    right: 0px;
    bottom: 20px;
}
element {
}
.banner .dots li.active {
    background: none repeat scroll 0% 0% #FFF;
    opacity: 1;

}
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 4px;
    text-indent: -999em;
    border: 2px solid #FFF;
    border-radius: 6px;
    cursor: pointer;
   
}


.row {
    margin-right: -15px;
    margin-left: -15px;
}
.hinh {
    padding: 0;
    width: 100%;
    color: #000;
}
p {
    margin: 0 0 10px;
}
.hinh-header {
    padding: 2px;
    margin-top: 50px;
    background: #eaeff4;
    overflow: hidden;
    clear: both;
}
.hinh-header-decoration {
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    float: left;
    margin: 2px;
}
.hinh-image {
    width: 100%;
    overflow: hidden;
    max-height: 240px;
}
.hinh-image img {
    max-width: 100%;
    height: auto;
}
.hinh:hover {
    color: #c770e4;
    text-decoration: none;
}
